body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    width: 125px;
    margin: 5px 5px 5px 20px;
}

.nav {
    list-style: none;
    padding: 10px 20px 10px 10px;
}

.navItem {
    display: inline-block;
}

.navItem a {
    padding: 10px 15px 10px 10px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.navItem a:hover {
    color: darkgrey;
}

.banner {
    width: 100%;
    padding-top: 86px;
}

h2 {
    text-align: center;
    padding: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row nowrap;
    padding-bottom: 45px;
}

.contTxt {
    width: 50%;
    padding-right: 45px;
}

.contImg {
    width: 50%;
    padding-left: 70px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}